# Python / Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*-checkpoint.ipynb

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
